@{
	ViewBag.Title = "Case Study 1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
@*<link href="https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css" rel="stylesheet" type="text/css" />*@

<!-- WRAPPER -->
<div id="wrapper">

	<div id="blog">

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
				<h1>Navigation Menu</h1>

				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
					<li><a href="@Url.Action("Index","Mobile")">Mobile Cross-Platform</a></li>
					<li class="active">Case Study 2: Xamarin.Android</li>
				</ul>
			</div>
		</header>

		<section class="container">

			<div class="row">
				<div class="left col-md-12">

					<!-- article title -->
					<header class="blog-post">
						<h1>Case Study 2: Xamarin.Android</h1>
					</header>
					<!-- article content -->
					<article>
						<div class="blog_post">
							Having only purchased the Indie license for Android means I can only develop for the Android platform for now.  I have been taking a course in native android development in Java and have been getting familiar with the structure and naming conventions of native android.  I believe this is important to know as a C# developer new to Xamarin that being familiar with how and android app works is beneficial in learning how to work with an android app in xamarin.
						</div>

						<div class="blog_post">
							My development setup specs:
							<ul>
								<li>Windows 8.1 64 bit</li>
								<li>16 GB RAM</li>
								<li>Intel Core i7-4510U</li>
								<li>Xamarin Studio</li>
								<li>Xamarin Android Player</li>
							</ul>
							I really recommend using the simulator developed by Xamarin, it is my choice for testing apps on my machine.
							<br />You can find the download at the Xamarin website by <a href="https://xamarin.com/android-player"><b>Clicking Here for Xamarin Android Player</b></a>
						</div>
					</article>

					<hr />

				</div>


			</div>

			<div class="row">
				<div class="left col-md-12">
					<!-- article title -->
					<h3 class="text-danger" style="margin-top: -10px">Devil's Advocate</h3>
					<!-- article content -->
					<article>
						<div class="blog_post" style="margin-top: -10px">
							<span class="text-danger">
								Money starts to add up every month, $25 * 12 months = $300 / year for Android or IOS.
								<br/>
								If you purchase Android/IOS Indie license that is $50 * 12 months = $600 / year for Android and IOS.
								<br />
								But if I use Android Studio and its $Free.99!
							</span>
						</div>
						<div class="blog_post">
							<span class="text-info">
								It does come with a price but if your goal is to share code developing for multiple platforms its worth the price. I did not like the fact that I had to learn how to use Xamarin Studio but it was not bad at all, I actually prefer using Xamarin Studio now as Visual Studio has spoiled us .Net developers.  One thing to note is that Visual Studio users should have no problem at all navigating the options in Xamarin Studio and using the Nuget package manager.
							</span>
						</div>
					</article>

				</div>
			</div>
		</section>

		<section class="pagination" style="height: 50px">
			<span>
				<a href="@Url.Action("CaseStudy1","Mobile")" style="float: left">Prev: Case Study 1: The Xamarin Trial</a>
				<a href="" style="float: right">N/A</a>
			</span>
		</section>

	</div>
</div>
<!-- /WRAPPER -->
