@{
	ViewBag.Title = "Case Study 3";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
@*<link href="https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css" rel="stylesheet" type="text/css" />*@

<!-- WRAPPER -->
<div id="wrapper">

	<div id="blog">

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
				<h1>Navigation Menu</h1>

				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
					<li><a href="@Url.Action("Index","Mobile")">Mobile Cross-Platform</a></li>
					<li class="active">Case Study 3: Xamarin.Forms App</li>
				</ul>
			</div>
		</header>

		<section class="container">

			<div class="row">
				<div class="left col-md-12">

					<!-- article title -->
					<header class="blog-post">
						<h1>Case Study 3: Xamarin.Forms App</h1>
					</header>
					<!-- article content -->
					<article>
						<div class="blog_post">
							Below are some screenshots of an app that I started with using Xamarin.Forms.  The project is called AutoMaintenance and you can find it at my github url: <a target="_blank" href="https://github.com/djacobos/AutoMaintenance">https://github.com/djacobos/AutoMaintenance</a>.  As you can see, I am not using Visual Studio but rather the IDE from Xamarin called Xamarin Studio which is a lean simple IDE for Xamarin applications.  The applications uses the MVVM model along with XAML and tabbed controls.
						</div>

						<div class="blog_post">
							<!-- carousel --><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'>
								<div class="item">
									<img src="~/img/CaseStudy/CrossPlatform/201512/XamarinFormsTrial1.png" class="img-responsive" alt="img" />
								</div>
								<div class="item">
									<img src="~/img/CaseStudy/CrossPlatform/201512/XamarinFormsTrial2.png" class="img-responsive" alt="img" />
								</div>
							</div>
						</div>
					</article>

					<hr />

				</div>


			</div>

		</section>

		<section class="pagination" style="height: 50px">
			<span>
				<a href="@Url.Action("CaseStudy2","Mobile")" style="float: left">Prev: Case Study 2: Xamarin.Android</a>
				<a href="" style="float: right">N/A</a>
			</span>
		</section>

	</div>
</div>
<!-- /WRAPPER -->
