
@{
    ViewBag.Title = "Fundamentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
@*<link href="https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css" rel="stylesheet" type="text/css" />*@


<!-- WRAPPER -->
<div id="wrapper">

	<div id="blog">

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
				<h1>Navigation Menu</h1>

				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
					<li><a href="@Url.Action("Index","Mobile")">Mobile Cross-Platform</a></li>
					<li class="active">Part 1: Mobile Cross-Platform Fundamentals</li>
				</ul>
			</div>
		</header>

		<section class="container">

			<div class="row">
				<div class="left col-md-12">

					<!-- article title -->
					<header class="blog-post">
						<h1>Part 1: Mobile Cross-Platform Fundamentals</h1>
						<div>
							There are three main devices that developers use to build mobile apps, they are Android, IOS and Windows Phone.  Which one should we choose?
							According to <a target="_blank" href="http://www.idc.com/prodserv/smartphone-os-market-share.jsp">http://www.idc.com/prodserv/smartphone-os-market-share.jsp</a>,  Android dominated the market with an 82.8% share in 2015 with IOS behind with 13.9% share and Windows Phone with 2.6%.
						</div>
						<br/>
						<div style="text-align: justify">
							Having this information helps us determine which platform we want to put or focus in and then we can research why the other platforms are not as popular.  Below is a table of the three most popular platforms and the programming languages and software used to create an mobile app.
						</div>
						<br />
						<div class="table-responsive">
							<table class="table .table-hover">
								<tr>
									<th>
										Operating System
									</th>
									<th>
										Programming Language Used
									</th>
									<th>
										Software Used
									</th>
								</tr>
								<tr>
									<td>
										Android
									</td>
									<td>
										Java
									</td>
									<td>
										IntelliJ IDEA, Elipse, Android Studio
									</td>
								</tr>
								<tr>
									<td>
										IOS (IPhone Operating System)
									</td>
									<td>
										Objective-C or Swift
									</td>
									<td>
										XCode IDE or Jet Brains AppCode
									</td>
								</tr>
								<tr>
									<td>
										Windows
									</td>
									<td>
										C#
									</td>
									<td>
										Visual Studio
									</td>
								</tr>
							</table>
						</div>

						<div style="text-align: justify">
							As a developer, if you wanted to create mobile apps for Android you will have to learn the Java programming language.
							Let's say that there is a need for the Android app to go on a IOS phone, then now we have to learn Objective-C or Swift and spend time learning the language and transferring all the logic over.  What if there is a way to develop one make with one programming language?							
						</div>
						<br />
						<div style="text-align: justify">
							This is what cross-platform is all about where we can build one app that runs on all Operating Systems and fortunately there is an option to be able to do this.
							We present a product called <strong class="text-info"><a target="_blank" href="http://xamarin.com">Xamarin</a></strong>.  Xamarin is a product that allows developers to use the C# language to build one app one time that will run on all the three major mobile platforms.  There are a few drawbacks to consider but not something to worry much about.
							So the question now is when should we choose a programing language for a specific mobile device vs using a Cross-Platform tool such as Xamarin?
						</div>
						<br />
						<div>
							
							<h4>When to use Cross-Plaftform Xamarin</h4>
							<ul>
								<li>You need your app to run on multiple mobile platforms and love C#</li>
								<li>You or your team uses Visual Studio and do not want to use a new IDE</li>
							</ul>

							<br />
							<h4>When to use the native programming languages</h4>
							<ul>
								<li>You have experience with the language</li>
								<li>Cost of Xamarin license is not cheap ($1000 per platform / per dev)</li>
							</ul>								
						</div>


					</header>

					Having said that, lets get started.
				</div>
			</div>

		</section>

	</div>
</div>
<!-- /WRAPPER -->
