@{
    ViewBag.Title = "Index";
}

<!-- WRAPPER -->
<div id="wrapper">

	<!-- REVOLUTION SLIDER -->
	<div class="fullwidthbanner-container roundedcorners" >
		<div class="fullwidthbanner">
			<ul>

				<!-- SLIDE -->
				<li data-transition="incube-horizontal" data-slotamount="5" data-masterspeed="700">

					<!-- COVER IMAGE -->
					<img src="~/Content/assets/images/demo/revolution_slider/church_parallax.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="130"
						 data-speed="300"
						 data-start="1000"
						 data-endspeed="500"
						 data-easing="easeOutBack">
						<h1>Craftsmanship</h1>
					</div>

					<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="260"
						 data-speed="300"
						 data-start="1700"
						 data-endspeed="500"
						 data-easing="easeOutBack">
						<h2>Software Development</h2>
					</div>

					@*<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="360"
						 data-customin="x:-150;y:-280;z:0;rotationX:-140;rotationY:-280;rotationZ:-220;scaleX:1.5;scaleY:0;skewX:57;skewY:60;opacity:0;transformPerspective:600;transformOrigin:120% 190%;"
						 data-customout="x:-450;y:-430;z:-30;rotationX:90;rotationY:-290;rotationZ:-20;scaleX:1;scaleY:2.8;skewX:59;skewY:4;opacity:0;transformPerspective:600;transformOrigin:70% 0%;"
						 data-speed="1500"
						 data-endspeed="500"
						 data-start="2700"
						 data-endeasing="Bounce.easeOut"
						 data-easing="Back.easeInOut">
						<a class="btn btn-primary btn-lg circle tp-shadow1" target="_blank" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">BUY ATROPOS</a>
					</div>*@

				</li>

			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
	<!-- /REVOLUTION SLIDER -->

	<!-- CAROUSEL -->
	<section class="container">
		<div class="row">

			<div class="col-md-12">
				<h2>Developer Research Projects</h2>
				<div>Please select a category on the side</div>
				<!-- divider -->
				@*<div class="divider styleColor">
					<i class="fa fa-leaf"></i>
				</div>*@

			</div>

			<div class="col-md-12">
				<!-- PORTFOLIO scouter-600x403-->
				<section id="portfolio">
					<div class="container">
						<div class="row">
							<ul class="sort-destination isotope" data-sort-id="isotope-list">
								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="~/Content/assets/images/demo/portfolio/SRP.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Test Driven Design</h4>
											<small class="styleColor">29 June, 2015</small>
										</div>
									</div>
								</li>

								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="~/Content/assets/images/demo/portfolio/SRP.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>SOLID Design Principles</h4>
											<small class="styleColor">29 June, 2015</small>
										</div>
									</div>
								</li>
								
								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="~/Content/assets/images/demo/portfolio/SRP.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Xamarin.Forms</h4>
											<small class="styleColor">29 June, 2015</small>
										</div>
									</div>
								</li>
								
								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="~/Content/assets/images/demo/portfolio/SRP.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Xamarin.Android</h4>
											<small class="styleColor">29 June, 2015</small>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</div>
				</section>
				<!-- /PORTFOLIO -->
			</div>

		</div>
	</section>
	<!-- /CAROUSEL -->

</div>
<!-- /WRAPPER -->