
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- WRAPPER -->
<div id="wrapper">

	<!-- PAGE TITLE -->
	<header id="page-title">
	</header>


	<section class="container">

		<!-- Who Am I -->
		<article class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="~/Content/assets/images/demo/about_1.jpg" width="555" height="311" alt="">
				@*<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
					<div>
						<img class="img-responsive" src="assets/images/demo/about_1.jpg" width="555" height="311" alt="">
					</div>
					<div>
						<iframe src="http://player.vimeo.com/video/23630702" width="800" height="450"></iframe>
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/about_2.jpg" width="555" height="311" alt="">
					</div>
				</div>*@
			</div>
			<div class="col-md-6">
				<h3>What is Research Coders?</h3>
				<h5>
					Hi, my name is David Jacobo and I have been a programmer for 10 years writing programs beginning with Visual Basic 6, Visual FoxPro 9.0 and now C#.
					I have developed applications for windows desktop and web applications, but most recently have dedicated my learning to mobile development.
					<br /><br />
					The purpose of this website is to give you my knowledge and experience through articles written and case studies found on this site.
				</h5>

				<hr />
				
				What can you find on this site?
				<ul class="list-icon star-o">
					<li class="text-info">Thinking through problems.</li>
					<li class="text-info">Code samples in C#.</li>
					<li class="text-info">Knowledge from experience and books.</li>
					<li class="text-info">Recommended educational material.</li>
				</ul>

			</div>
		</article>
		<!-- /Who Am I -->

		<div style="margin-top: 10px" class="divider">
			<!-- divider -->
			<i class="fa fa-star"></i>
		</div>

		<!-- CALLOUT -->
		<section class="container">
			<div class="text-center text-info">
				If you are a university student and are learning C#, I will do a code review and give you feedback.
			</div>
			
			<div class="bs-callout text-center nomargin-bottom">
				@*<h3>Come on, let's learn <strong>together</strong>! <a href="contact-us.html" class="btn btn-primary btn-lg">Contact Me!</a></h3>*@
				<h3>Email me at <a href="mailto:info@researchcoders.com" class="btn btn-primary btn-lg">info@researchcoders.com</a></h3>
			</div>
		

		</section>
		<!-- /CALLOUT -->

	</section>


</div>
<!-- /WRAPPER -->

