
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- WRAPPER -->
<div id="wrapper">

	<!-- PAGE TITLE -->
	<header id="page-title">
		<div class="container">
			<h1>About <strong>Us</strong></h1>

			<ul class="breadcrumb">
				<li><a href="@Url.Action("Index","Home")">Home</a></li>
				<li class="active">About Us</li>
			</ul>
		</div>
	</header>


	<section class="container">

		<!-- Who Am I -->
		<article class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="~/Content/assets/images/demo/about_1.jpg" width="555" height="311" alt="">
				@*<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
					<div>
						<img class="img-responsive" src="assets/images/demo/about_1.jpg" width="555" height="311" alt="">
					</div>
					<div>
						<iframe src="http://player.vimeo.com/video/23630702" width="800" height="450"></iframe>
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/about_2.jpg" width="555" height="311" alt="">
					</div>
				</div>*@
			</div>
			<div class="col-md-6">
				<h3>Who is Research Coders?</h3>
				<h5>Research Coders came about having an interest in software development best practices and having done a lot of research.  There is found alot of theory in books that take too long to show you how something is applied.  This site aims to simplify the theory we read about and how to apply it. </h5>

				<hr />
				
				What can you find on this site?
				<ul class="list-icon star-o">
					<li>Thinking through problems.</li>
					<li>Code samples in C#.</li>
					<li>Knowledge from experience and books.</li>
					<li>Recommended educational material.</li>
				</ul>

			</div>
		</article>
		<!-- /Who Am I -->

		<div class="divider">
			<!-- divider -->
			<i class="fa fa-star"></i>
		</div>

		<!-- CALLOUT -->
		<section class="container">

			<div class="bs-callout text-center nomargin-bottom">
				@*<h3>Come on, let's learn <strong>together</strong>! <a href="contact-us.html" class="btn btn-primary btn-lg">Contact Me!</a></h3>*@
				<h3>Email us at <a href="mailto:info@researchcoders.com" class="btn btn-primary btn-lg">info@researchcoders.com</a></h3>
			</div>
		

		</section>
		<!-- /CALLOUT -->

	</section>


</div>
<!-- /WRAPPER -->

