@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- WRAPPER -->
<div id="wrapper">

	<div id="blog">

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
				<h1>Navigation Menu</h1>
				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
					<li class="active">Mobile Cross-Platform</li>
				</ul>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<div class="col-md-9">

					<!-- blog item 1 -->
					<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="@Url.Action("Fundamentals", "Mobile")">Part 1: Mobile Cross-Platform Fundamentals</a></h2>
							<span class="label label-default light">October 29, 2015</span>
						</div>

						<!-- blog short preview -->
						<p>
							The main players in the mobile world are Android, IOS with Windows Phone lacking behind...
						</p>

						<!-- read more button -->
						<a href="@Url.Action("Fundamentals","Mobile")" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>
					<!-- /blog item 1 -->
					<!-- blog item 2 -->
					<div class="item">

						<!-- article title @@Url.Action("CaseStudy1", "Mobile")-->
						<div class="item-title">
							<h2><a href="#">Case Study 1: The Xamarin Trial</a></h2>
							<span class="label label-default light">December 1, 2015</span>
						</div>

						<!-- blog short preview -->
						<p>
							If you are a C# developer you can use Visual Studio to create phone apps for the Windows Phone platform, but do you really want to develop just for windows ?...
						</p>

						<!-- read more button -->
						@*<a href="@Url.Action("CaseStudy1", "Mobile")" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>*@

					</div>
					<!-- /blog item 2 -->

				</div>

				<div class="col-md-3">


					<!-- blog search -->
					<div class="widget">

						<h3>BLOG SEARCH</h3>

						<form method="get" action="#" class="input-group">
							<input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
							<span class="input-group-btn">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</span>
						</form>
					</div>

				</div>
			</div>

		</section>

	</div>
</div>
<!-- /WRAPPER -->
